### Config file for localizer environment ###

references = {
  tags = (
    { id = 0, size = .075, x = .0,   y = .0,   z = .0 },
    { id = 1, size = .075, x = .0,   y = .605, z = .0 },
    { id = 2, size = .075, x = .605, y = .0,   z = .0 },
    { id = 3, size = .075, x = .605, y = .605, z = .0 }
  );
  origin = 0;
  primary = 2;
  secondary = 1;
};

objects = {
  box1 = {
    name = "box1";
    tags = (
      { id = 4, size = .075, x = .15, y = .10, z = .125,
        r_x = .0, r_y = .0, r_z = .0 },
      { id = 5, size = .075, x = .10, y = -.003, z = .07,
        r_x = 1.5708, r_y = .0, r_z = .0 }
    );
  };
  box2 = {
    name = "box2";
    tags = (
      { id = 6, size = .075, x = .097, y = .074, z = .125,
        r_x = .0, r_y = .0, r_z = -1.5708 },
      { id = 7, size = .075, x = -.003, y = .10, z = .063,
        r_x = .0, r_y = -1.6208, r_z = .0 }
    );
  };
};
