### Config file for localizer environment ###

references = {
  tags = (
    { id = 0, size = .075, x = .0,   y = .0,   z = .0 },
    { id = 1, size = .075, x = .0,   y = .605, z = .0 },
    { id = 2, size = .075, x = .605, y = .0,   z = .0 },
    { id = 3, size = .075, x = .605, y = .605, z = .0 }
  );
  origin = 0;
  primary = 2;
  secondary = 1;
};

objects = {
/*
  box1 = {
    name = "box1";
    tags = ();
  };
  box2 = {
    name = "box2";
    tags = ();
  };
*/
};
